html,body{
    height: 100%;
    overflow: hidden;
}
body{
    background-color: wheat;
    display: table;
    padding-top: 80px;
}
*{
    margin: 0;
}
.cont{
    display: flex;
    text-align: center;
    width: 200%;
    transition: all 1s ease;
    /* flex-direction: row-reverse; */
}
.cont1{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.ima{
    width: 280px;
    padding: 18px;
    margin: 30px;
    background-color: #FFFFFF;
    transition: 1s;
}
.ima:hover{
    transform:rotate(0deg) scale(1.2) !important;
    box-shadow: 0px 0px 10px #5b5b5b;
}
#a{
    transform: rotate(12deg);
}
#b{
    transform: rotate(-5deg);
}
#c{
    transform: rotate(10deg);
}
#d{
    transform: rotate(8deg);
}
#e{
    transform: rotate(-10deg);
}
#f{
    transform: rotate(-5deg);
}
#g{
    transform: rotate(10deg);
}
#h{
    transform: rotate(8deg);
}
#i{
    transform: rotate(12deg);
}
#j{
    transform: rotate(-5deg);
}
#k{
    transform: rotate(10deg);
}
#l{
    transform: rotate(8deg);
}
#m{
    transform: rotate(12deg);
}
#n{
    transform: rotate(-5deg);
}
#o{
    transform: rotate(10deg);
}
.hidden{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
}
.ah,.bh,.ch,.dh,.eh,.fh,.gh,.hh,.ih,.jh,.kh,.lh,.mh,.nh,.oh{
    display:none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 80%;
    max-height: 80%;
    z-index: 10000;
}
.btn{
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    font-size: 30px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: auto;
    border-radius: 50%;
    
    z-index: 10000;
}
.btn1{
    display: block;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%,-48%);
    opacity: 0.2;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 30px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10000;
    transition: all 0.8s ease;
}
.btn1:hover{
    background-color: #FFFFFF;
    opacity: 1;
}
.active{
    display: block;
    
}
.inactive{
    display: none;
}
.animation1{
    transform: translateX(-50%);
}
.animation2{
    transform: translateX(0%);
}
.animation3{
    left: 52%;
}
.animation4{
    left: 48%;
}