.navbar{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 999;
    background-color: #fff;
    opacity: 0.8;
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.5s ease-in-out;
}
.move{
    transform: translateY(-50px);
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
    padding: 10px 15px;
    font-weight: bold;
}
nav ul li:hover {
    background-color: #ff3636;
}
nav a {
    text-decoration: none;
    color: #555;
}
nav ul li.active{
    background-color: #ff3636;
}
.sub-menu {
    display: none; 
    width: 220px;
    position: absolute;
    left: 0;
    top: 100%; 
    background-color: white;
    z-index: 1;
}
nav ul li:hover .sub-menu {
    display: block; 
}
.sub-menu li {
    display: inline-block;
}
nav *{
    user-select: none;
}