body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #fff;
    padding: 0;
}

.hero {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(244,244,244, 1) 100%), url('../src/banner.webp') no-repeat center 30%;
    background-size: cover;
}

main {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    top: -80px;
    z-index: 3;
}

aside {
    width: 250px;
    height: 470px;
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.5s ease;
}
aside:hover {
    transform: scale(1.1);
}
.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.front{
    z-index: 2;
}
.back{
    transform: rotateY(180deg);
}

.avatar-container{
    position: relative;
    width: 150px;
    height: 150px;
    
}
.avatar-img {
    position: absolute;
    width: 100%; 
    height: auto; 
    backface-visibility: hidden; 
    transition: transform 2s; 
}
.avatar-container.flipped .front {
    transform: rotateY(180deg); 
}

.avatar-container.flipped .back {
    transform: rotateY(0); 
}

aside img {
  
    box-shadow: 0 0 15px rgba(161, 45, 45, 0.8);
    border-radius: 50%;
    margin-bottom: 10px;
}
.stat-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stats{
    margin: 20px 0;
    display: flex;
    justify-content:space-around;
}
.stat-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-left: 2px solid #637c64;
    border-right: 2px solid #648065;
}
.sidebar-links{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link-nav{
    border-radius: 10px;
    border: 2px solid #ff3c00;
 
    margin: 5px 0;
}
.link-nav:hover{
    background-color: #ff3c00;
    color: #fff;
}
.sidebar-links a {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
    padding: 3px 70px;
}


article {
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
}
article:hover {
    transform: scale(1.05);
}
article img {
    width: 250px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}
.line {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, transparent 50%, rgb(255, 82, 82) 50%);
    background-size: 50px 100%;
    animation: move-bg 3s linear infinite;
    margin: 15px 0;
    position:relative;
    top:-80px;
  }
  @keyframes move-bg {
    from {
      background-position: 0;
    }
    to {
      background-position: 100px;
    }
  }
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    position:relative;
    top:-80px;
}
.team{
    height: auto;
    flex: 1;
    border: #ffffff 1px solid;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.team-header{
    display: flex;
    justify-content: center;
    
    height: 100px;
    
}
.team-show {
    display: flex;
    
    height: auto;
    width: 95%;
    
    margin: 0px 20px;
    
    
}
.team-item {
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    background-color: #f2f2f2;
    border: #000000 2px solid;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.team-item img {
    margin: 25px 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
    transform: rotate(0deg);
    box-shadow: 0 4px 15px rgba(157, 72, 72, 0.5);
}
.frame01{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.frame01 h2 {
    margin-top: 20px ;
    margin-left: auto;
    margin-right: auto;
}
.frame01 h4{
    margin: 0px auto;
}
.team-item img:hover {
    /* animation: identifier 2s linear infinite; */
    transform: scale(1.1) rotate(20deg);
}
.team-division{
    display: flex;
}
.team-division{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.team-division h2{ 
    
    margin-bottom: 20px;
    color: #cf6b60; /* 设置标题颜色 */
}
.team-division table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #c06f6f;
}
.team-division th {
    border-top: 2px solid #c06f6f;
    border-bottom: 1px solid #c06f6f;
    padding: 12px;
    
    text-align: center; /* 居中对齐 */
}
.team-division td {
    
    padding: 12px;
    text-align: center; /* 居中对齐 */
}
.team-division th {
    background-color: #f2f2f2;
    
}
.team-division tr:hover {
    background-color: #f1f1f1; /* 鼠标悬停效果 */
}
.team-Percentage{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 50px;
}
.team-Percentage h2{
    font-size: 24px;
    margin: 10px auto;
    color: #cf6b60;
}
.frame02{
    margin-bottom: 10px;
}
.frame02 p{
    margin: 0px auto;
    margin-left: 200px;
}
.progress-show01{
    display: flex;
    height: 30px;
    width: 60%;
    margin: 0px auto;
    border: aqua 3px solid;
    overflow: hidden;
    border-radius: 15px;
}
.progress-show02{
    display: flex;
    height: 30px;
    width: 60%;
    margin: 0px auto;
    border: rgb(135, 65, 85) 3px solid;
    overflow: hidden;
    border-radius: 15px;
}
.progress-show03{
    display: flex;
    height: 30px;
    width: 60%;
    margin: 0px auto;
    border: rgb(184, 211, 96) 3px solid;
    overflow: hidden;
    border-radius: 15px;
}
.progress-bar01 {
    height: 24px;
    width: 45%; 
    background-color: aqua;
    border-radius: 13px;
    margin: 3px;
    animation: identifier1 4s ;
}
.progress-bar02 {
    height: 24px;
    width: 40%; 
    background-color: rgb(135, 65, 85);
    border-radius: 13px;
    margin: 3px;
    animation: identifier2 4s ;
}
.progress-bar03 {
    height: 24px;
    width: 15%; /* 初始宽度为0 */
    background-color: rgb(184, 211, 96);
    border-radius: 13px;
    margin: 3px;
    animation: identifier3 4s;
}
@keyframes identifier1 {
    from{
        width: 5%;
    }
    to{
        width: 45%;
    }
}
@keyframes identifier2 {
    from{
        width: 5%;
    }
    to{
        width: 40%;
    }
}
@keyframes identifier3 {
    from{
        width: 5%;
    }
    to{
        width: 15%;
    }
}
