body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: /*linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%) , */
                url("../../src/team/huangjiangyang/37ae6f47478a1f683d3a954112b94ed785d90f7f.png") center center no-repeat;
    background-size: cover; /* 背景覆盖 */
    /* z-index: -1; */
    background-attachment: fixed;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
div.hidden li {
    float: left;
    list-style: none;
}
div.hidden li a {
    display: block;

    color: #c9c8c8;
 
    text-align: center;
   
    padding: 10px 32px;
    width: 160px;
    text-decoration: none;
    
    font-weight: bold;
}
div.hidden li a:hover {
  
  
    color: white;
    border-right: 3px solid white;
    /* transition: all 0.3s ease-in-out; */
}
.btn{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid ;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 40px;
    font-weight: bold;
    z-index: 9;
}
.btn:hover{
    color: #c9c8c8;
}

.hidden{
    display: flex;
    flex-direction: row;
    width: 226px;
    position: fixed;
    z-index: 999;
    top: 0px;
    left:-226px;
    height: 100%;
    margin: 0;
    background-color: #000000;
    transition: all 0.5s ease-in-out;
    border-top-right-radius: 10px;
}
.hidden.active{
    transform: translateX(226px);
    
}
.content.active{
    transform: translateX(50px);
}
.btn.active{
    color: #c9c8c8;
}
.hidden.inactive{
    transform: translateX(-226px);
    
}
.content.inactive{
    transform: translateX(0px);
    
}
.btn.inactive{
    background-color: transparent;
}
@media(max-width: 1200px){
    .hidden{
        display: none;
    }
}
.background {
    
    width: 3000px;
    height: 400px;
    background: repeating-linear-gradient(
        135deg,
        #555,
        #555 100px,
        #333 100px,
        #333 200px
    );
    background-color: #333;
    /* animation: identifier1 10s linear infinite; */
    animation: identifier1 5s linear forwards, identifier2 5s linear forwards; /* 顺序动画 */
    animation-delay: 0s, 5s;
    animation-fill-mode: forwards; /* 保持最终状态 */
    animation-direction: alternate; /* 让动画在正向和反向之间交替播放 */
    animation-iteration-count: infinite; /* 无限重复播放 */
}
@keyframes identifier2 {
    0% {
        transform: translateX(-40%); 
    }
    
    100% {
        transform: translateX(0); 
    }
}
@keyframes identifier1 {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-40%);
    }
}

.title {
    display: block;
    position: relative;
    color: white;
    text-align: center;
    top: 150px;
    z-index: 9;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 3em;
    margin: 0;
    z-index: 999;
    position: fixed;
    top: 160px;
    left: 646.5px;
}

.title p {
    font-size: 1.5em;
    margin: 10px 0 0 0;
}
.content {
    display: flex;
    position: absolute;
    top: 300px;
    left: 15%;
    width: 70%;
    height: auto;
    /* text-align: center;
    justify-content: center; */
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    align-items: center;
    margin-bottom: 1000px;
    /* background: (to , rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%) ; */
}
.header {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    border: #333 solid 3px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px); 
    z-index: 6;
}
.footer{
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    border: #333 solid 3px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05); /* 半透明背景 */
        backdrop-filter: blur(10px); 
    z-index: -1;
}
/* .content-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 80%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
} */
.header h2{
    font-size: 2em;
    margin: 0px 0;
    color: white;
    margin-bottom: 10px;
    z-index: 1;
}
.header h4{
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 10px;
    color: #868686;
    
    
}
.header >img{
    width: 120px;
    height: 120px;
    border-radius: 30px;
    margin-top: 10px;
    border: #e6e6e6 solid 1px;
    z-index: 1;
    box-shadow: 0px 0px 10px #333;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1500px;
    background-color: #c9c8c8;
    overflow: hidden;
}
.about{
    display: flex;
    flex-direction: row;
    height: auto;
}
.card{
    
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.card-content{
    display: flex;
    min-width: 230px;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
}
.card-content p{
    font-size: 19px;
    margin: 10px 0;
    margin-left: 5px;
    
}
.card-content hr{
    margin: 0px 0px;
    border: black solid 2px;
}
.card-content:hover{
    background-color: #f2f2f2;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;

}
.Percentage{
    display: flex;
    justify-content: center;
    flex-direction: column;
   width: 50%;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 50px;
}
.Percentage h3{
    
    font-size: 20px;
    margin: 0 auto;
    color: #000000;
}
.frame02{
    margin-bottom: 10px;
}
.frame02 p{
    margin: 0px auto;
    margin-left: 10px;
}
.progress-show01{
    display: flex;
    height: 20px;
    width: 100%;
    margin: 0px auto;
    border: aqua 2px solid;
    overflow: hidden;
    border-radius: 15px;
}
.progress-show02{
    display: flex;
    height: 20px;
    width: 100%;
    margin: 0px auto;
    border: rgb(135, 65, 85) 2px solid;
    overflow: hidden;
    border-radius: 15px;
}
.progress-show03{
    display: flex;
    height: 20px;
    width: 100%;
    margin: 0px auto;
    border: rgb(168, 56, 91) 2px solid;
    overflow: hidden;
    border-radius: 15px;
}
.progress-show04{
    display: flex;
    height: 20px;
    width: 100%;
    margin: 0px auto;
    border: rgb(112, 116, 96) 2px solid;
    overflow: hidden;
    border-radius: 15px;
}
.progress-bar01 {
    height: 14px;
    width: 45%; /* 初始宽度为0 */
    background-color: aqua;
    border-radius: 13px;
    margin: 3px;
    font-size: 14px;
    animation: identifier1 4s ;
    /* transition:  0.5s ease-in-out; 添加过渡效果 */
    /* animation: identifier 4s infinite steps(3,start); */
}
.progress-bar02 {
    height: 14px;
    width: 40%; /* 初始宽度为0 */
    background-color: rgb(135, 65, 85);
    border-radius: 13px;
    margin: 3px;
    font-size: 14px;
    /* transition:  0.5s ease-in-out; 添加过渡效果 */
    animation: identifier2 4s ;
}
.progress-bar03 {
    height: 14px;
    width: 50%; /* 初始宽度为0 */
    background-color: rgb(168, 56, 91);
    border-radius: 13px;
    margin: 3px;
    font-size: 14px;
    /* transition:  0.5s ease-in-out; 添加过渡效果 */
    animation: identifier3 4s;
}
.progress-bar04 {
    height: 14px;
    width: 15%; /* 初始宽度为0 */
    background-color: rgb(95, 100, 79);
    border-radius: 13px;
    margin: 3px;
    font-size: 14px;
    /* transition:  0.5s ease-in-out; 添加过渡效果 */
    animation: identifier4 4s;
}
@keyframes identifier1 {
    from{
        width: 5%;
    }
    to{
        width: 45%;
    }
}
@keyframes identifier2 {
    from{
        width: 5%;
    }
    to{
        width: 40%;
    }
}
@keyframes identifier3 {
    from{
        width: 5%;
    }
    to{
        width: 50%;
    }
}
@keyframes identifier4 {
    from{
        width: 5%;
    }
    to{
        width: 15%;
    }
}
.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-weight: bold;
    border: #c9c8c8 solid 2px;
    box-shadow: 0px 0px 10px #333;
}
.message p{
    margin: 0 10px;
    margin-bottom: 20px;
}
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';  /* Project id 4789985 */
    src: url('//at.alicdn.com/t/c/font_4789985_f1vwg3d7xsv.woff2?t=1734799485529') format('woff2'),
         url('//at.alicdn.com/t/c/font_4789985_f1vwg3d7xsv.woff?t=1734799485529') format('woff'),
         url('//at.alicdn.com/t/c/font_4789985_f1vwg3d7xsv.ttf?t=1734799485529') format('truetype');
  }
.iconfont{
    font-family: "iconfont" ;
    font-size: 23px !important;
    font-style: normal!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 5px!important;
}
.container{
    display: flex;
    align-items: center;
    margin: 40px 0;
}

#image-carousel {
    width: 318px; /* 图片宽度 */
    height: 218px; /* 图片高度 */
    
    position: relative;
    margin: 0 20px;
}

.carousel-image {
    width: 100%;
    height: 100%;
    position: absolute;
    border: #f2f2f2 solid 10px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-image.active {
    opacity: 1;
}

.pbtn {
    margin: 0 20px;
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    
    text-shadow: 0 0 10px #ffffff;
    transition: all 0.3s ease-in-out;
}

.pbtn:hover {
    color: #000000;
    transform: scale(1.4);
    text-shadow: 0 0 20px #ffffff;
}
.comment-section {
    background: #dedede;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60%;
    margin-top: 30px;
}
.input-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 4px;
    width: 80%;
    margin-bottom: 20px;
    height: 40px;
    background-color: #f2f2f2;
}
.comment {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.comment-box{
    display: flex;
    flex-direction: row;
}
.comment-box >img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.user-info {
    font-weight: bold;
}
.time {
    color: gray;
    font-size: 12px;
}
.actions {
    margin-top: 5px;
    font-size: 12px;
}
/* .mask {
    
    display: flex;
    height: 100vh;
    position: relative;
    background: 
                url("../src/37ae6f47478a1f683d3a954112b94ed785d90f7f.png") center center no-repeat;
    background-size: cover; 
    z-index: -1;
    background-attachment: fixed;
    } */
    /*linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%) , */
